body{
	background-color: #393234;
    font-family: 'Roboto', sans-serif;
}

.datadisplay{
	background-color: #ccddff
}

.data-item{
  color: #444;
}

.object-center{
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#selectcity{
	width:300px;
	color:black;
}
